/* COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-image: url("../img/wp3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.clearfix{
    display: table;
    clear: both;
    content: "";
}

.hidden{
    display: none;
}

.clicked{
    background-color: #e5328f !important;
}

.zero{
    display: none;
}
/* /COMMONS */

/* MAIN */
main{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    margin-top: 40px;
}

#grid{
    margin-top: 80px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    
}

#grid.easyGrid{
    height: 210px;
    width: 210px;
}

#grid.mediumGrid{
    height: 330px;
    width: 330px;
}

#grid.hardGrid{
    height: 450px;
    width: 450px;
}

#grid.crazyGrid{
    height: 750px;
    width: 750px;
}

.box{
    width: 30px;
    height: 30px;
    background-color: #b473f6;
    border: 1px solid rgba(255, 255, 255, 0.3);
    float: left;
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

.bomb i{
    color: whitesmoke;
    background: none;
}

.flag i{
    z-index: 999;
    color: #ffffff;
}

#result{
    font-size: 40px;
    animation: bw 1s infinite;
}

@keyframes bw {
    50% {color: whitesmoke;}
    51% {color: black;}
    99% {color: black;}
}
/* /MAIN */


/* HEADER */
header{
    display: flex;
    justify-content: space-between;
}

#header-central, #header-left, #header-right{
    height: 80px;
    border-radius: 20px;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-central{
    width: 470px;
    background-color: rgba(36, 36, 36, 0.397);
}

#header-left, #header-right{
    width: 250px;
}

#header-central button{
    background-color: #b473f6;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

#lista-inner{
    width: 300px;
    border-radius: 10px;
}

#header-right #lista-inner{
    transform: translate(-75%) !important;
    left: 50% !important;
    text-align: right;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    color: #fff;
    background: #b473f6;;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
  
li a {
    color: #fff;
}

li:hover,
li:focus-within {
    background: #e5328f;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

ul li ul li {
    clear: both;
    width: 100%;
}
/* /HEADER */